// Variables
$primary: #0080ff;
$secondary: #bce213;
$text: #f0f0f0;

// Styles
.tutorial-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
}

.tutorial-item {
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: $secondary;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.tutorial-item h3 {
  font-size: 2rem;
  color: $primary;
}

.tutorial-item img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 0.5em;
}

.tutorial-item p {
  font-size: 1.6rem;
  color: $text;
}
