.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 25px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-to-top-button button {
  color: #fff;
  border-left: 2px solid #ffa500;
  border-bottom: 2px solid #ffa500;
  border-radius: 0.3em;
  transform: translateZ(0);
  background: #ffa500;
  box-shadow: inset 3px -3px 30px #ffa500, inset -4px 4px 4px #ffffff,
    0 0 20px #ffa500;
  backdrop-filter: blur(70px);
  padding: 1rem;

  transition: background-color 0.3s ease;
}

.scroll-to-top-button button:hover {
  background-color: #ffa60063;

  box-shadow: inset 3px -3px 30px #ffa60063, inset -4px 4px 4px, #ffa60063,
    0 0 20px #ffa60063;
  transition: opacity 0.3s ease-in-out;
}
