.Sondage {
  text-align: center;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;

  transform: translateZ(0);
  background: #040a22;
  box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
    0 0 20px #0000ff80;
  backdrop-filter: blur(70px);

  h2 {
    text-align: center;
  }

  .link-sondages {
    color: #d4e3e4;
    background: linear-gradient(100deg, #040a22 30%, #1261c9 70%);
    box-shadow: inset 4px -4px 20px #1c43dd,
      inset -4px 3.01333px 3.01333px #d6defc;
    cursor: pointer;
    padding: 0.5em;

    border-radius: 0.5em;
    text-decoration: none;
    &:hover {
      background: linear-gradient(100deg, #1261c9 30%, #040a22 70%);
      box-shadow: inset 4px -4px 20px #1c43dd,
        inset -4px 3.01333px 3.01333px #d6defc;
      backdrop-filter: blur(70px);
    }
  }

  .Question {
    margin-bottom: 1em;

    details {
      cursor: pointer;

      summary {
        background-color: #09a7f063;
        box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
          0 0 20px #0000ff80;
        border: 2px solid #3498db;
        padding: 0.5em;
        border-radius: 0.3em;
        margin-bottom: 0.5em;

        &:hover {
          background-color: #ecf0f1;
          color: #040a22;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #fff;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.3em;

        transform: translateZ(0);
        background: rgba(9, 167, 240, 0.3882352941);
        box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
          0 0 20px rgba(0, 0, 255, 0.5019607843);
        backdrop-filter: blur(70px);

        .Option {
          display: flex;
          align-items: center;
          margin-bottom: 0.5em;

          .OptionLabel {
            flex: 1;
            color: #0084ff;
            text-align: left;
          }

          .ProgressBar {
            flex: 2;
            height: 20px;
            background-color: rgba(9, 167, 240, 0.3882352941);
            border: 1px solid #3498db;
            border-radius: 0.3em;
            overflow: hidden;

            .Fill {
              height: 100%;
              background-color: #00fff2;
            }
          }

          .Resultat {
            flex: 1;
            color: #00fff2;
          }
        }
      }
    }
  }
}
