.portfolio-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  backdrop-filter: blur(10px);
  transform: translateZ(0);
  background: #040a22;
  box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
    0 0 20px #0000ff80;
  backdrop-filter: blur(70px);

  h2 {
    text-align: center;
  }

  .project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-left: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    border-radius: 0.3em;
    backdrop-filter: blur(10px);
    transform: translateZ(0);
    background: rgba(9, 167, 240, 0.3882352941);
    box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
      0 0 20px #0000ff80;
    backdrop-filter: blur(70px);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;

    .left-content {
      width: 40%;
      text-align: center;
      color: #0084ff;
      font-size: 1.3em;
    }

    .right-content {
      width: 55%;
      text-align: left;
      padding-left: 1rem;

      h3 {
        font-size: 1.5rem;
        color: #0084ff;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: #d4e3e4;
        margin-bottom: 1rem;
      }

      a {
        color: #d4e3e4;
        background: linear-gradient(100deg, #040a22 30%, #1261c9 70%);
        box-shadow: inset 4px -4px 20px #1c43dd,
          inset -4px 3.01333px 3.01333px #d6defc;
        cursor: pointer;
        padding: 0.5em;
        border-radius: 0.5em;
        text-decoration: none;
        &:hover {
          background: linear-gradient(100deg, #1261c9 30%, #040a22 70%);
          box-shadow: inset 4px -4px 20px #1c43dd,
            inset -4px 3.01333px 3.01333px #d6defc;
          backdrop-filter: blur(70px);
        }
      }

      h4 {
        text-transform: uppercase;
        color: #7f8c8d;
        margin-top: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 1rem;
          color: #00fff2;
          margin-bottom: 0.5rem;
        }
      }
    }

    .image-container {
      text-align: center;
      img {
        width: 8em;
        height: 8em;
        object-fit: cover;
        border-radius: 0.5em;
        z-index: 1;
        margin: 1em 0em 1em 0em;
        box-shadow: inset 10px -10px 30px #001f47, inset -8px 8px 8px #ffffff,
          0 0 20px #0000ff80;

        @media (min-width: 500px) {
          width: 11.5em;
          height: 11.5em;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .project-item {
      flex-direction: column;

      .left-content,
      .right-content {
        width: 100%;
      }

      .right-content {
        padding-left: 0;
      }
    }
  }
}
