.infos-perso {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  max-width: 600px;
  color: #3d4451;
}

.profile-pic {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #773030, 0 6px 20px 0 #773030;
    transform: perspective(1px) translateZ(0);
    transition: transform 0.3s ease-out;
  }

  .age-badge {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    border-radius: 50%;
    background-color: #773030;
    padding-inline: 0.5rem;

    font-size: 0.75rem;
    color: #c1c8ce;
  }
}
aside p {
  outline: 2px solid #773030;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 #773030, 0 6px 20px 0 #773030;
  font-size: 1.1em;
}
