.Defis {
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  transform: translateZ(0);
  background: #040a22;
  box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
    0 0 20px #0000ff80;
  backdrop-filter: blur(70px);

  h2 {
    text-align: center;
  }

  .defi-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    details {
      position: relative;
      border-left: 2px solid #3498db;
      border-bottom: 2px solid #3498db;
      border-radius: 0.3em;
      transform: translateZ(0);
      background: #09a7f063;
      box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
        0 0 20px #0000ff80;
      backdrop-filter: blur(70px);
      padding: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;

      &:hover {
        background-color: #ecf0f1;
        color: #040a22;
      }

      summary {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          text-align: center;
          font-size: 1.5rem;
          color: #0084ff;
          margin-bottom: 0.5em;
        }

        img {
          // width: 10em;
          // height: 10em;
          // object-fit: cover;
          width: 100%;
          height: auto;
          border-radius: 0.5em;
          z-index: 1;
          margin: 1em 0em 1em 0em;

          @media (min-width: 650px) {
            width: 10em;
            height: 10em;
            object-fit: cover;
          }
        }

        p {
          margin-top: 0.5em;
          font-size: 1rem;
          color: #7f8c8d;
          a {
            color: #d4e3e4;
            background: linear-gradient(100deg, #040a22 30%, #1261c9 70%);
            box-shadow: inset 4px -4px 20px #1c43dd,
              inset -4px 3.01333px 3.01333px #d6defc;
            cursor: pointer;
            padding: 0.5em;
            border-radius: 0.5em;
            text-decoration: none;
            &:hover {
              background: linear-gradient(100deg, #1261c9 30%, #040a22 70%);
            }
          }
        }
      }

      .season-list {
        details {
          summary {
            font-size: 1.2rem;
            color: #3498db;
            cursor: pointer;
            margin: 0.5em 0;

            a {
              color: #d4e3e4;
              background: linear-gradient(100deg, #040a22 30%, #1261c9 70%);
              box-shadow: inset 4px -4px 20px #1c43dd,
                inset -4px 3.01333px 3.01333px #d6defc;
              cursor: pointer;
              padding: 0.5em;
              border-radius: 0.5em;
              text-decoration: none;
              &:hover {
                background: linear-gradient(100deg, #1261c9 30%, #040a22 70%);
              }
            }
          }
        }
      }
    }
  }
}
