.experience-container {
  border-top: #fff solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  background-color: #ffa500cc;

  h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.experience-item {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #ffa500cc;
  flex-direction: column;

  h2 {
    color: #ffa500cc;
    margin: 0;
    font-size: 1.5rem;
  }
  h3 {
    color: #0000007e;
    margin: 0;
    font-size: 1.2rem;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffa500cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 0.5em;
  }
}

.experience-skills {
  margin-top: 10px;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .experience-item {
    width: 90%;
    padding: 15px;
  }

  .experience-header h2 {
    font-size: 1.2rem;
  }

  .experience-header span {
    font-size: 0.9rem;
  }

  .experience-skills li {
    padding: 3px 8px;
    margin: 3px 0;
  }
}
