.Header {
  text-align: center;
  position: relative;

  .banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    background-color: #040a22;
    box-shadow: inset 10px -10px 100px #012049, inset -4px 4px 4px #ffffff,
      0 0 20px #0000ff80;
  }
}
