// Footer.scss

.footer {
  background-color: #040a22;
  box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
    0 0 20px #0000ff80;
  color: #fff;
  text-align: center;
  padding: 20px 0;

  .footer-content {
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: #ff9900;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background-color: #ff9900;
        color: #040a22;
        padding: 0.5em;
        border-radius: 0.5em;
      }
    }
    img {
      width: 12em;
      height: 12em;
      box-shadow: inset 5px -5px 50px #006eff, inset -4px 4px 4px #ffffff,
        0 0 20px #0000ff80;
    }
  }
}
