// Footer.scss

.footer {
  background-color: #040a22;
  box-shadow: inset 3px -3px 30px #006eff, inset -4px 4px 4px #ffffff,
    0 0 20px #0000ff80;
  color: #fff;
  text-align: center;
  padding: 20px 0;

  .footer-content {
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: #d4e3e4;
      background: linear-gradient(100deg, #040a22 30%, #1261c9 70%);
      box-shadow: inset 4px -4px 20px #1c43dd,
        inset -4px 3.01333px 3.01333px #d6defc;
      cursor: pointer;
      padding: 0.5em;

      border-radius: 0.5em;
      text-decoration: none;
      &:hover {
        background: linear-gradient(100deg, #1261c9 30%, #040a22 70%);
        box-shadow: inset 4px -4px 20px #1c43dd,
          inset -4px 3.01333px 3.01333px #d6defc;
        backdrop-filter: blur(70px);
      }
    }
    img {
      width: 12em;
      height: 12em;
      box-shadow: inset 5px -5px 50px #006eff, inset -4px 4px 4px #ffffff,
        0 0 20px #0000ff80;
    }
  }
}
