.footer {
  background-color: #292829;
  box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #ffa500cc;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: #fff solid 1px;

  .footer-content {
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      margin-top: 0.5em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      background-color: #292829;
      color: #fff;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #292829cc;
        box-shadow: 0 4px 8px 0 #292829cc, 0 6px 20px 0 #292829cc;
      }
    }
    img {
      width: 12em;
      height: 12em;
      box-shadow: inset 5px -5px 50px #292829cc, inset -4px 4px 4px #ffffff,
        0 0 20px #292829cc;
    }
  }
}
