.autres-articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  color: #3d4451;
}

.autres-articles-wave {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.autre-article-item {
  position: relative;
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #773030, 0 6px 20px 0 #773030;
}

.autre-article-image {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 0.5em;
}

.autre-article-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: #773030bd;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 600px) {
  .autres-articles-wave {
    justify-content: center;
  }
}
