.article-container {
  border-top: #fff solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 2rem;
  background-color: #292829;

  h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px #00000080;
  }

  .article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    outline: 2px solid #ffa500;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 55%;
    text-align: left;
    padding-left: 1rem;
    flex-direction: column;

    .content {
      text-align: center;
      color: #ffa500;
      font-size: 1.3em;
    }

    width: 55%;
    text-align: left;
    padding-left: 1rem;

    h3 {
      font-size: 1.5rem;
      color: #ffa500;
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      margin-top: 0.5em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      background-color: #000000;
      color: #fff;
      border: none;
      cursor: pointer;
      cursor: pointer;
      &:hover {
        background-color: #ffa500;
        color: #fff;
      }

      @media (max-width: 670px) {
        font-size: 0.8em;
      }
    }

    .image-container {
      text-align: center;
      img {
        width: 8em;
        height: 8em;
        object-fit: cover;
        border-radius: 0.5em;
        z-index: 1;
        margin: 1em 0em 1em 0em;
        box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #ffa500;

        @media (min-width: 670px) {
          width: 11em;
          height: 11em;
        }
      }
    }
  }
}
