.other-skills-container {
  margin: 2em;
  text-align: center;
  color: #3d4451;

  h2 {
    margin-bottom: 1em;
    font-size: 2em;
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .other-skills-cards-container {
    display: flex;
    justify-content: center;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }

    .other-skill-card {
      margin: 0.5em;
      padding: 1em;
      border-radius: 0.5em;
      box-shadow: 0 4px 8px 0 #773030, 0 6px 20px 0 #773030;
      background-color: #fff;
      width: calc(50% - 1em);

      .skill-text {
        font-size: 1.1rem;
        font-weight: bold;
        color: #773030;
      }
    }
  }
}
